<?php

 echo $this->Html->script(array('jquery.min', 'jquery.form.min')); ?>  
<div>
     <?php


echo $this->Form->create('Fornecedore', array('class' => 'formgroup'), array('enctype' => 'multipart/form-data'));
echo $this->Form->input('id', array('type' => 'hidden'));
echo $this->Form->input('nome', array('class' => 'form-control', 'placeholder'=>'Nome do fornecedor'));
echo $this->Form->input('fornecedorcategorias_id', array('options' => $fornecedorcategoria));
echo $this->Form->input('Alterar', array('type' => 'submit', 'class'=> 'fa fa-check btn-primary btn-primary', 'label' => FALSE));
echo $this->Form->end();
?>
</div>
<script>
    $('#FornecedoreAddForm').ajaxForm({
        target: '#contentWrap',
        resetForm: false,
        beforeSubmit: function () {
            $('#contentWrap').html('Loading...');
        },
        success: function (response) {
            if (response === "saved") {
                $('#dialogModal').dialog('close');  //close containing dialog    
                location.reload();  //if you want to reload parent page to show updated user
            }
        }
    });
</script>