
    <div id="login-overlay" class="modal-dialog effect3">
      <div class="modal-content">
          
          <div class="modal-header">
              <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
              <h4 class="modal-title" id="myModalLabel"><i class='fa fa-user'></i> Perfil</h4>
          </div>
          <div class="modal-body">
                    <div> 
                        <p><?php echo $this->Flash->render('positive')?></p> 
                   </div>
              <div class="row">
                   
                  <div class="col-xs-12">
                      
                      <?php include 'registerEdit.ctp';?>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>

