<?php  echo $this->Form->create('Login', array('class' => 'form-signin'), array('enctype' => 'multipart/form-data'));
                        echo $this->Form->input('id', array('type' => 'hidden'));

?>
<div class="well">
    <div class="form-group">
                                  <?php echo $this->Form->input('nome', array('class' => 'form-control', 'placeholder'=>'Digite seu nome')); ?>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
                                  <?php echo $this->Form->input('email', array('class' => 'form-control', 'placeholder'=>'exemplo@gmail.com')); ?>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
                                  <?php echo $this->Form->input('senha',array('class' => 'form-control', 'type'=>'password', 'placeholder'=>'Digite sua senha', 'required'));?>
        <span class="help-block"></span>
    </div>

    <p><?php echo $this->Form->input(' Atualizar Cadastro', array('type' => 'button', 'class'=> ' btn btn-success btn-raised btn-block', 'label' => FALSE));?>
    </p>
</div>
<?php echo $this->Form->end();?>