<?php

echo $this->Html->script(array(
'jquery.min', 
    'Principal'
    )
        ); 
?>
<script>
    function checkUser() {
        var email = document.getElementById('email');
//    resultado(email.value);

        $.get('http://127.0.0.1/meuestoque/Login/validacao/' + 'jonathansc92@gmail.com', function (data) {
            $('#resultado').html(data);
        });
    }
</script>

<?php  echo $this->Form->create('Login', array('class' => 'form-signin'), array('enctype' => 'multipart/form-data'));?>
<div class="well">

    <div class="form-group">
        <?php echo $this->Form->input('nome', array('class' => 'form-control', 'placeholder'=>'Digite seu nome', 'required')); ?>
        <span class="help-block"></span>
    </div>

    <div class="form-group">
        <?php echo $this->Form->input('email', array('class' => 'form-control', 'onBlur'=>'checkUser()', 'id'=>'email','placeholder'=>'exemplo@gmail.com')); ?>
        <span id='response' style='color: red' class="help-block">oo</span>
    </div>

    <div class="form-group">
       <?php echo $this->Form->input('senha',array('class' => 'form-control', 'type'=>'password', 'placeholder'=>'Digite sua senha', 'required'));?>
        <span class="help-block"></span>
    </div>

    <p><?php echo $this->Form->input(' Enviar Cadastro', array('type' => 'button', 'class'=> ' btn btn-info btn-raised btn-block', 'label' => FALSE));?>
    </p>
</div>
<?php echo $this->Form->end();?>