
<div class="alert alert-danger content2" id='divdesaparecer' style="margin-bottom: 0px; margin-right: 10%;  width: 100%;  position: relative">
    <span style='font-weight: bold'>Atenção!</span> <?php echo $message; ?>
    <a href="#" class="close" onclick="$(this).parent().fadeOut();return false;">&times;</a>
</div>

<script>
//    $(document).ready(function () {
//        $(function () {
//            $('.alert').fadeIn('slow', function () {
//                $(this).delay(4000).fadeOut('slide');
//            });
//        });
//    });
</script>