    <div class="alert <?php echo $class;?> content2" id='divdesaparecer' style="margin-bottom: 10px; margin-right: 10%; left: 70%; width: 400px;  position: absolute">
    <?php echo $message ; ?>
        <a href="#" class="close" onclick="$(this).parent().fadeOut();return false;">&times;</a>
    </div>



<script>
    $(document).ready(function () {
        $(function () {
            $('.alert').fadeIn('slow', function () {
                $(this).delay(4000).fadeOut('slide');
            });
        });
    });
</script>