<?php
// Recebo $cidades
    echo "<select>";
echo '<option value="">Selecione a cidade</option>\n';       
foreach($cidades as $id => $cidade){

    echo "<option value='$id'>$cidade</option>\n";      

}
    echo "</select>";
?> 