
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <option value="">Selecione uma cidade</option>
<?php foreach($cidadesLst as $key => $cidades): ?>
            <option value="<?php echo $cidades['Cidades']['id']; ?>"> <?php echo $cidades['Cidades']['cidade']; ?></option>
<?php endforeach ?>
        </div>
    </div>
</div>