
<div class="row">
    <div class="col-lg-12">
        <?php  echo $this->Form->create('Cliente', array('class' => 'formgroup form-horizontal'), array('enctype' => 'multipart/form-data'));?>

        <?php echo $this->Form->input('cliente', array('class' => 'form-control', 'placeholder'=>'Nome do cliente', 'required'=>'required')); ?>

       
    </div>

    <?php echo $this->Form->end();?>
</div>

 <div class="deleteContent">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn actionBtn" data-dismiss="modal">
                <span id="footer_action_button" class='glyphicon'> </span>
            </button>

            <button id=''type="button" class="btn btn-warning" data-dismiss="modal">
                <span class='glyphicon glyphicon-remove'></span> Cancelar
            </button>
        </div>