        <div class="">
                    <table id='tabela2'>
                        <thead>
                            <tr>
                                <th style='text-align: center'>Pagamento</th>
                          
                            </tr>

                        </thead>

                        <tbody>
                    <?php if($titulosReceberConfirmadosLst != 0){foreach ($titulosReceberConfirmadosLst as $titulosConfirmados): ?>
                            
                            
                            <tr>
                                <td style='font-size: 13px; color: black; font-weight: bold; text-align: left'><?php echo $titulosConfirmados['Pagamento']; ?></td>

                            </tr>
                    <?php endforeach; }?>
                        </tbody>
                    </table>
                </div>
            </div>
