<option value="">Selecione</option>
<?php foreach($produtosvaloresLst as $produtosvalores): ?>
<option value="<?php echo $produtosvalores['Produto']['id']; ?>"> <?php echo $produtosvalores['Produto']['valorbase']; ?></option>
<?php endforeach ?>