
<div class="panel-heading">
    <h3 class="panel-title" id="lineModalLabel" style='font-weight: bold'> Informações Gerais</h3>
</div>

<div class="modal-body" style="padding: 5px;">
    <fieldset>
        <div class='row'>
            <div class='col-xs-12 col-md-12 form-group'>
                    <?php echo $this->Form->input('', array('class' => 'form-control', 'name'=>'data[Vendascompra][observacao]', 'type'=>'textarea','placeholder'=>''));?>
            </div>
        </div>
    </fieldset>  
</div>