


<div class="row">
	<?php  
            echo $this->Form->create('Produto', array('class' => 'formgroup form-horizontal'), array('enctype' => 'multipart/form-data'));                        
            echo $this->Form->input('id', array('type' => 'hidden'));
        ?>

    <div class='col-lg-12'>
            <?php // echo $this->Form->input('produto', array('class' => 'form-control',  'placeholder'=>'Descrição da categoria')); ?>


        <div class="deleteContent">

        </div>
        <div class="modal-footer">
            

            <button id=''type="button" class="btn btn-warning" data-dismiss="modal">
                <span class='glyphicon glyphicon-remove'></span> Cancelar
            </button>
        </div>
    </div>

    <?php echo $this->Form->end();?>
</div>
