<?php

echo $this->Html->css(array('jquery-ui.min', 'select2', 'select2-bootstrap')); 

echo $this->Html->script(array('jquery.min', 'jquery.form.min', 'select2.min', 'selectCidade')); 
 
?>  
<script>
$(document).ready(function() {
  $(".selectPedidosprodutocompra").select2();
});
</script>
<div>
<?php

echo $this->Form->create('Pedidosprodutocompra', array('class' => 'formgroup'), array('enctype' => 'multipart/form-data'));

echo $this->Form->input('produtos_id', array('class' => 'form-control', 'type'=>'select', 'options' => $produto));
echo $this->Form->input('pedidos_id', array('class' => 'form-control selectPedidosprodutocompra', 'type'=>'select', 'options' => $pedido));
echo $this->Form->input('status_id', array('class' => 'form-control selectPedidosprodutocompra', 'type'=>'select', 'options' => $statu));
echo $this->Form->input('datahoracadastro', array('class' => 'form-control', 'type'=> 'hidden', 'value'=>date('Y-m-d H:i:s')));

echo $this->Form->input('SALVAR', array('type' => 'submit', 'class'=> 'fa fa-check btn-primary btn-primary', 'label' => FALSE));
echo $this->Form->end();
?>


</div>
<script>
    $('#PedidosprodutocompraAddForm').ajaxForm({
        target: '#contentWrap',
        resetForm: false,
        beforeSubmit: function () {
            $('#contentWrap').html('Loading...');
        },
        success: function (response) {
            if (response === "saved") {
                $('#dialogModal').dialog('close');  //close containing dialog    
                location.reload();  //if you want to reload parent page to show updated user
            }
        }
    });
</script>

