<?php

echo $this->Html->css(array('jquery-ui.min', 'select2', 'select2-bootstrap')); 

echo $this->Html->script(array('jquery.min', 'jquery.form.min', 'select2.min')); 
 
 ?>  
<script>
    $(document).ready(function () {
        $(".selectCompra").select2();
    });
</script>
     <?php


echo $this->Form->create('Compra', array('class' => 'formgroup'), array('enctype' => 'multipart/form-data'));
echo $this->Form->input('id', array('type' => 'hidden'));
echo $this->Form->input('fornecedores_id', array('class'=>'form-control selectCompra', 'options' => $fornecedor, 'empty'=>'Selecione um fornecedor'));

echo $this->Form->input('datacompra', array('class' => 'form-control', 'placeholder'=>'Codigo do produto'));
echo $this->Form->input('datahoracadastro', array('class' => 'form-control', 'type'=>'hidden', 'value'=>date('Y-m-d H:i:s')));

echo $this->Form->input('observacao', array('class' => 'form-control', 'placeholder'=>'', 'type'=>'text'));
echo $this->Form->input('SALVAR', array('type' => 'submit', 'class'=> 'fa fa-check btn-primary btn-primary', 'label' => FALSE));
echo $this->Form->end();
?>
<script>
$('#CompraAddForm').ajaxForm({
target: '#contentWrap',
resetForm: false,
beforeSubmit: function () {
$('#contentWrap').html('Loading...');
},
success: function (response) {
if (response === "saved") {
$('#dialogModal').dialog('close');  //close containing dialog    
location.reload();  //if you want to reload parent page to show updated user
}
}
});
</script>